body {
  background: rgb(227,211,255);
  background: linear-gradient(90deg, rgba(227,211,255,1) 0%, rgba(248,247,244,1) 100%); 
}

.whole {
  padding-top: 75px;
}

.animalDetails {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #8E7AB5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.animalDetails h2 {
  font-size: 24px;
  color: #F8F7F4;
  margin-bottom: 20px;
  font-family: 'Quicksand';
}

.animalInfo {
  padding-top: 50px;
  font-family: 'Lora';
}

.animalProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F8F7F4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.animalProfile img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
  border: 1px solid #B784B7;
}

.animalProfile h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.animalProfile p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.animalImage {
  position: relative;
}

.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.heart-btn {
  position: absolute;
  top: 103%;
  left: 12%;
  transform: translate(-50%, -50%);
}

.content {
  padding: 13px 16px;
  display: flex;
  border: 2px solid #eae2e1;
  border-radius: 5px;
  cursor: pointer;
}

.content.heart-active {
  border-color: #f9b9c4;
  background: #fbd0d8;
}

.heart {
  position: absolute;
  background: url("img.png") no-repeat;
  background-position: left;
  background-size: 2900%;
  height: 90px;
  width: 90px;
  top: 50%;
  left: 21%;
  transform: translate(-50%, -50%);
}

.text {
  font-size: 21px;
  margin-left: 30px;
  color: grey;
  font-family: 'Hind Vadadora';
}

.numb:before {
  content: '';
  font-size: 21px;
  margin-left: 7px;
  font-weight: 600;
  color: #9C9496;
  font-family: sans-serif;
}

.numb.heart-active:before {
  content: '';
  color: #000;
}

.text.heart-active {
  color: #000;
}

.heart.heart-active {
  animation: animate .8s steps(28) 1;
  background-position: right;
}

@keyframes animate {
  0% {
      background-position: left;
  }
  100% {
      background-position: right;
  }
}